catalog-v001.xml
tnm_6a_edition.obda
tnm_6a_edition.q
tnm_6e_icdo_topographies.obda
tnm_6e_icdo_topographies.q
axiomas.obda
axiomas.q
ontologies/tnm_6th_edition.obda
ontologies/tnm_6th_edition.q
tnm_6th_edition.obda
tnm_6th_edition.q
test.obda
test.q
